<h1 style="margin-top:80px;font-size:55px;">DoDo Framework Examples</h1>
<p style="text-align:center;font-size: larger;"><i>Learn DoDo Framework through examples</i></p>
<p style="margin-top:50px;">
<ul>
  <li><a href="/controller-hooks" data-dd-href>Controller Lifecycle Hooks</a> - shows in which order will be executed constructor, loader, init, postrender, destroy</li>
  <li><a href="/model" data-dd-href>Model</a> - how to use model, a reactive variable designed with the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy" target="_blank">Proxy Object</a></li>
  <li><a href="/view-ddinc" data-dd-href>View::ddInc()</a> - test the ddInc() method i.e. <b>data-dd-inc</b> attribute</li>
  <li><a href="/view-loadviews" data-dd-href>View::loadViews()</a> - test the loadViews() method with isAsync argument, i.e. <b>data-dd-view</b> attribute</li>
  <li><a href="/view-lazyjs" data-dd-href>View::lazyJS()</a> - load/unload JS file lazily</li>
  <li><a href="/datadd" data-dd-href>DataDd</a> - test elements with <b>data-dd-</b> attribute related to DataDd methods</li>
  <li><a href="/dataddlisteners" data-dd-href>DataDdListeners</a> - test the <b>data-dd-</b> elements related to DataDdListeners methods</li>
  <li><a href="/cookie" data-dd-href>Cookie</a> - test all Cookie methods: put, putObject, getAll, ...</li>
  <li><a href="/browserstorage" data-dd-href>BrowserStorage</a> - test localStorage &amp; sessionStorage</li>
  <li><a href="/form" data-dd-href>Form</a> - test all Form methods: setControl, getControl, delControl ...</li>
  <li><a href="/login-form" data-dd-href>Auth [Login Form]</a> - test login, logout, ... i.e. authentication methods</li>
  <li><a href="/navig1" data-dd-href>navig</a> - test Navig (navigation) methods</li>
  <li><a href="/paginator" data-dd-href>Paginator</a> - test pagination methods</li>
  <li><a href="/antiflick" data-dd-href>antiflick</a> - hide elements before the page is displayed, prevent flickering</li>
  <li><a href="/i18n" data-dd-href>i18n</a> - test internationalization i.e. automatic translation to different languages</li>
</ul>
</p>
