<h1>Navig Test - Page 2</h1>
<br>
<br>
<h4>LINKS</h4>
<b>with data-dd-href</b>
<br><a href="/navig2" data-dd-href>/navig2</a>
<br><a href="/navig2#somehash" data-dd-href>/navig2#somehash</a>
<br><a href="/navig2#somehash2" data-dd-href>/navig2#somehash2</a>
<br><a href="/navig1" data-dd-href>/navig1</a>
<br><a href="/navig1#somehash" data-dd-href>/navig1#somehash</a>
<br>
<br>
<h4>METHODS</h4>
<button data-dd-click="runGOTO('/navig1')">goto /navig1</button>
<button data-dd-click="runBACK()">back</button>
<button data-dd-click="runFORWARD()">forward</button>
<button data-dd-click="runRELOAD()">reload</button>
<br>
<br>
<h4>REDIRECT</h4>
Redirect from '/navig3' to '/navig1' so Navig1Ctrl will be executed.
<br><a href="/navig3" data-dd-href>/navig3</a>
