<h1>dd-lazyjs</h1>
The attribute dd-lazyjs will load JS lazily. To make this work simply put <i>dd-lazyjs</i> attribute in the SCRIPT tag.
<br>There are three options: <b>dd-lazyjs="--after__loader"</b> or <b>dd-lazyjs="--after__rend"</b> or <b>dd-lazyjs="--after__postrend"</b>

<br><br>
<p>To test when the lazy loading occurs, enable debugging by setting: <code>this.$debugOpts.ddLazyjs = true;</code>. This will provide detailed logs about the lazy loading process.</p>

<br>
NOTICE:
<br>will work &rarr; <i>&lt;script src="/assets/js/jq-test.js" dd-lazyjs="--after__rend"&gt;&lt;/script&gt;</i>
<br>will also work &rarr; <i>&lt;script src="/assets/js/jq-test-module.js" <b style="color:red">type="module"</b> dd-lazyjs="--after__rend"&gt;&lt;/script&gt;</i>

<br><br><br>
<hr>
<b style="color:green" id="msgplace">MESSAGE PLACEHOLDER</b>


<script src="/js/jq-test-module.js" type="module" dd-lazyjs="--after__loader"></script>
<!-- <script src="/public/js/jq-test.js" dd-lazyjs="--after__rend"></script> -->
<!-- <script src="/public/js/jq-test.js" dd-lazyjs="--after__postrend"></script> -->