<h1>exeJS()</h1>
<p>
  The exeJS will execute the javascript content but the SCRIPT tag will not be created.
  <br>To get content use Vite import statement: <b style="font-size:smaller">import jsContent from '../../public/js/dom-test.js?raw';</b>
  <br> The content can contain <b>await</b> because it is wrapped inside JS async function.
</p>
<br><br>
<p><button dd-click="exeJS_test()">LOAD and EXECUTE SCRIPT</button> - on click the placeholder will change text</p>
<p id="msgid" style="color:maroon">PLACEHOLDER</p>
