<h1>exeJS()</h1>
<p>
  exeJS() executes JavaScript content without creating a SCRIPT tag in the DOM.
  <br>To load the content, use a Vite raw import: <b style="font-size:smaller">import jsContent from '../../public/js/dom-test.js?raw';</b>
  <br>The content may contain <b>await</b> because it is wrapped in an async function.
</p>
<br><br>
<p><button dd-click="exeJS_test()">LOAD and EXECUTE SCRIPT</button> - on click the placeholder will change text</p>
<p id="msgid" style="color:maroon">PLACEHOLDER</p>
