<h1>loadCSS(), unloadCSS()</h1>
<p>
  <br>The loadCSS() creates &lt;link rel = "stylesheet"&gt; tag and load CSS.
  <br>The unloadCSS() removes that tag and unload the CSS. Usually used in __destroy() hook.
  <br>This example loads <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">W3 CSS</a> which creates nice buttons.
  <br>This CSS is unloaded when route is changed i.e. the controller is destroyed. (Open Dev Tools to see.)
</p>
<br>
<br>
<br>
<button class="w3-button w3-black">Black</button>
<button class="w3-button w3-khaki">Khaki</button>
<button class="w3-button w3-yellow">Yellow</button>
<button class="w3-button w3-red">Red</button>
<button class="w3-button w3-purple">Purple</button>
