<h1>loadCSS(), unloadCSS()</h1>
<p>
  <br>loadCSS() creates a &lt;link rel="stylesheet"&gt; tag and loads the CSS file.
  <br>unloadCSS() removes that tag and unloads the CSS. It is typically called in the __destroy() hook.
  <br>This example loads <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">W3.CSS</a>, which styles the buttons below.
  <br>The CSS is unloaded when the route changes, i.e. when the controller is destroyed. Open DevTools to observe.
</p>
<br>
<br>
<br>
<button class="w3-button w3-black">Black</button>
<button class="w3-button w3-khaki">Khaki</button>
<button class="w3-button w3-yellow">Yellow</button>
<button class="w3-button w3-red">Red</button>
<button class="w3-button w3-purple">Purple</button>
