<h1>setFavicon()</h1>
<p>
  <br>setFavicon() creates or replaces the &lt;link rel="icon"&gt; tag in &lt;head&gt;.
  <br>Click the buttons to switch the favicon and watch the browser tab icon change.
  <br>Navigating away restores the original favicon via the __destroy() hook.
</p>
<br>
<br>
<button dd-click="setFaviconRed()">&#128308; Red</button>
<button dd-click="setFaviconBlue()">&#128309; Blue</button>
<button dd-click="setFaviconGreen()">&#128994; Green</button>
<button dd-click="setFaviconDefault()">&#9744; Default (/favicon.png)</button>
