<h1>Controller Lifecycle Hooks</h1>
Every time a new route is opened, the current controller is replaced and a new controller lifecycle begins.
<br>This example shows the execution order of the controller constructor and its lifecycle hooks: __loader, __init, __rend, __postrend, and __destroy.
<br>Open the browser console to see the constructor and hook arguments.
<ol>
  <li><b>constructor(app)</b> - Executed when the browser page is reloaded.</li>
  <li><b>__loader(trx)</b> - Loads views via dd-view, loads CSS and JS files, and sets the page title, keywords, description, etc.</li>
  <li><b>__init(trx)</b> - A good place to initialize controller variables and fetch API data using this.$httpClient.</li>
  <li>__rend(trx) - This method should not be overridden unless you need to optimize rendering performance.</li>
  <li><b>__postrend(trx)</b> - Runs after the HTML is rendered and the DOM is ready.</li>
  <li><b>__destroy(trx)</b> - Called when a new route is opened and the current controller is destroyed.</li>
</ol>
<i>app</i> is the App class instance
<br><i>trx</i> is the router's transition object


<br><br>
<h3>A) Open another uri i.e. controller</h3>
<a href="/" dd-href>HOME</a>
<br>- opens HomeCtrl
<br>- executes __destroy() in ControllerHooksCtrl

<br><br>
<h3>B) Open another URI but with the same controller</h3>
<a href="/controller/hooks-same" dd-href>/controller/hooks-same</a>
<br>- opens ControllerHooksCtrl
<br>- executes __destroy() in ControllerHooksCtrl

<br><br>
<h3>C) Open the same URI and controller</h3>
<a href="/controller/hooks" dd-href>/controller/hooks</a>
<br>- opens ControllerHooksCtrl
<br>- executes __destroy() in ControllerHooksCtrl

<br><br>
<h3>D) Open a 404 URL</h3>
<a href="/badurl" dd-href>/badurl</a>
<br>- opens NotfoundCtrl
<br>- executes __destroy() in ControllerHooksCtrl
