<h1>dd-attr</h1>
Set the element attribute with the controller property value. Controller property must be string.

<br><br>
<button dd-click="runATTR1()">run ATTR 1</button> &nbsp;
<button dd-click="runATTR2()">run ATTR 2</button>
<br>
<br>
<br><a dd-attr="$model.someURL --href" dd-text="$model.someURL" target="_blank"></a>


<br><br><br>
<h3>HTML tag attribute</h3>
Change the placeholder attribute.
<br><input type="text" dd-attr="$model.placeHolder --placeholder">
<button type="button" dd-click="changePlaceholder()">change placeholder</button>
