<h1>dd-attr</h1>
Set the element attribute with the controller property value. Controller property must be string.

<br><br>
<h3>Controller property</h3>
<i>Example 1: change the link</i>
<button dd-click="runATTR1()">run ATTR 1</button> &nbsp;
<button dd-click="runATTR2()">run ATTR 2</button>
<br><a dd-attr="$model.someURL --href" dd-text="$model.someURL" target="_blank"></a>
<br>
<br>
<i>Example 2: Change the placeholder attribute.</i>
<br><input type="text" dd-attr="$model.placeHolder --placeholder">
<button type="button" dd-click="changePlaceholder()">change placeholder</button>


<br><br><br>
<h3>Controller method</h3>
dd-attr="setLink('url') --href" dd-text="setLink('title')" &rarr;
<a dd-attr="setLink('url') --href" dd-text="setLink('title')" target="_blank"></a>