<h1>dd-disabled</h1>
Disable elements by setting up <b>disabled</b> attribute.

<h3>Controller property</h3>
<i>Example with pure controller property in the attribute value.</i>
<br>dd-disabled="myBool" &rarr; <button dd-disabled="myBool" dd-click="myAlert()">BUTTON 1</button>

<br><br>
<h3>Model</h3>
<i>Example with pure model in the attribute value.
  <br>Initial model value is undefined so element is disabled.
  <br>The <b>this.</b> will not cause error.</i>
<br>dd-disabled="$model.my.bool" &rarr; <input type="text" dd-disabled="$model.my.bool">
<br>dd-disabled="this.$model.my.bool" &rarr; <input type="text" dd-disabled="this.$model.my.bool">
<br><button dd-click="dis1()">change model value</button>

<br>
<br><button dd-click="toggleDIS()">toggle DISABLED</button>
<input type="text" dd-disabled="$model.disX">

<br><br>
<h3>Controller method</h3>
<i>This example shows expression with controller method.</i>
<br>dd-disabled="isDisabled()" &rarr; <button dd-disabled="isDisabled()">BUTTON 2</button>

<br><br>
<h3>Controller method with model</h3>
dd-disabled="isDisabled2()" &rarr; <input type="text" dd-disabled="isDisabled2()">
<br><button dd-click="dis2()">change model value</button>


<style scoped>
  input {
    height: 25px;
    width: 210px;
    margin-left: 13px;
    font: 15px Verdana;
  }

  button[disabled] {
    background: silver;
    cursor: not-allowed;
  }
</style>