<h1>dd-foreach (nested2)</h1>
The dd-foreach is nested in another dd-foreach.
<br>Used: <b>$1{company['${field.prop}']}</b>
<br> The "field" is array of objects.


<br><br><br>
<br><button dd-click="foreachNested()">change model value</button>
<table>
  <tr dd-foreach="$model.companies --company --$1">
    <td dd-foreach="fields --field">$1{company['${field.prop}']}</td>
  </tr>
</table>



<style scoped>
  table {
    width: 340px;
    margin-top: 21px;
  }

  table td {
    border: 1px solid gray;
    padding: 5px 3px;
  }
</style>
