<h1>dd-foreach select option</h1>
dd-foreach in the option tag.
<br><b>NOTICE:</b> The first option tag must be empty: <i>&lt;option value=""&gt;&lt;/option&gt;</i>
<br><br>

<button type="button" dd-click="generateAutos()">generate Autos</button>
<br>
<br>autos:
<select name="autosN">
  <option value=""></option>
  <option dd-foreach="$model.autos --auto,key" value="${auto.id}">${auto.name} - price: $${auto.price}</option>
</select>


<br><br>
<br>autos: <select name="autosN">
  <option value=""></option>
  <option dd-foreach="$model.autos --auto,key" value="${auto.id}" dd-text="($$auto.name + '- price: $' + $$auto.price)"></option>
</select>


<br><br>
<br>autos: <select name="autosN">
  <option value=""></option>
  <option dd-foreach="$model.autos --auto,key" value="${auto.id}" dd-text="(this.$model.autos[${key}].name)"></option>
</select>
