<h1>dd-foreach with dd-html</h1>

<br><br>
<h3>A) dd-html inside dd-foreach element</h3>
<li dd-foreach="ids --id">
  <span dd-html="names[${id}]"></span>
</li>


<br><br>
<h3>B) dd-html in same element with dd-foreach</h3>
<li dd-foreach="ids --id" dd-html="names[${id}]"></li>


<br><br>
<h3>C1) dd-html in same element with dd-foreach and dd-if</h3>
<li dd-foreach="ids --id" dd-if="(${id} === 1)" dd-html="names[${id}]"></li>


<br><br>
<h3>C2) dd-html inside dd-foreach/dd-if element</h3>
<li dd-foreach="ids --id" dd-if="(${id} === 1)">
  <span dd-html="names[${id}]"></span>
</li>


<style scoped>
  b {
    color: #00b572;
  }
</style>
