<h1>dd-foreach (nested)</h1>
The dd-foreach is nested in another dd-foreach.
<br>Used: <b>$1{company.$0{field}}</b> where $0 and $1 are interpolator marks defined by option --$0 and --$1
<br> The "field" is array of strings.


<br><br>
<h4>Code</h4>
<pre><code>
  &lt;table&gt;
    &lt;tr&gt;
      &lt;th dd-foreach="fields --field"&gt;${field}&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr dd-foreach="$model.companies --company --$1"&gt;
      &lt;td dd-foreach="fields --field --$0"&gt;$1{company.$0{field}}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
</code></pre>


<br><br>
<h3>Example with $model</h3>
<button dd-click="foreachNested()">change model value</button>
<table>
  <tr>
    <th dd-foreach="fields --field">${field}</th>
  </tr>
  <tr dd-foreach="$model.companies --company --$1">
    <td dd-foreach="fields --field --$0">$1{company.$0{field}}</td>
  </tr>
</table>


<style scoped>
  table {
    width: 340px;
    margin-top: 21px;
  }

  table td,
  th {
    border: 1px solid gray;
    padding: 5px 3px;
  }

  table td:nth-child(3) {
    text-align: center;
  }
</style>
