<h1>dd-show</h1>
<b>dd-show="ctrlProp"</b> &rarr; Show/hide elements by setting up <b>display:none</b> inline CSS style.
<br><b>dd-show="ctrlProp --visibility"</b> &rarr; Show/hide elements by setting up <b>visibility:visible</b> inline CSS style.

<br><br>
<h3>Controller property</h3>
<i>Example with pure controller property in the attribute value.</i>
<br>dd-show="myBool" &rarr; <b dd-show="myBool">OK</b>
<br>dd-show="this.myBool" &rarr; <b dd-show="this.myBool">OK</b>

<br><br>
<h3>Model</h3>
<i>Example with pure model in the attribute value.
  <br>Initial model value is undefined so element is not displayed.
  <br>The <b>this.</b> will not cause error.</i>
<br>dd-show="$model.my.bool" <b dd-show="$model.my.bool">OK</b>
<br>dd-show="this.$model.my.bool" <b dd-show="this.$model.my.bool">OK</b>
<br><button dd-click="show1()">change model value</button>

<br><br>
<h3>Expression</h3>
<i>Expression must be enclosed in brackets. This example shows expression with static controller property.</i>
<br>(this.x === 'This is X') <b dd-show="(this.x === 'This is X')">OK</b>

<br><br>
<h3>Expression with model</h3>
<i>Some complex examples with model in the expression.</i>
<br>(this.$model.n1 > 6 && this.$model.n2 < 10) <b dd-show="(this.$model.n1 > 6 && this.$model.n2 < 10)">OK</b>
  <br>(this.$model.n1 > 6 && this.$model.n1 < 10) <b dd-show="(this.$model.n1 > 6 && this.$model.n2 < 10)">OK</b>
    <br><button dd-click="show2()">change model value</button>


    <br><br>
    <h4>toggle (display)</h4>
    dd-show="$model.showX"
    <br><button dd-click="toggleSHOW()">toggle SHOW</button>
    <br>PREFIX <span dd-show="$model.showX" style="color:green">My Text</span> SUFIX

    <br><br>
    <h4>toggle (visibility)</h4>
    dd-show="$model.showX2 --visibility"
    <br><button dd-click="toggleSHOW2()">toggle SHOW</button>
    <br>PREFIX <span dd-show="$model.showX2 --visibility" style="color:maroon">My Text2</span> SUFIX
