<h1>dd-text</h1>
Directive dd-text in combination with dd-foreach.

<h3>dd-text and dd-foreach in the same element</h3>

<code>dd-foreach="animals --val,key" dd-text="animals[{{key}}]"</code>
<ul>
  <li dd-foreach="animals --val,key" dd-text="animals[{{key}}]"></li>
</ul>

<br><br>

<code>dd-foreach="animals --val,key" dd-text="animals.{{key}}"</code>
<ul>
  <li dd-foreach="animals --val,key" dd-text="animals.{{key}}"></li>
</ul>

<br><br>

<code>dd-foreach="animals --val,key" dd-text="$$val"</code>
<ul>
  <li dd-foreach="animals --val,key" dd-text="$$val"></li>
</ul>

<br><br>

<code>dd-foreach="animals --val,key" dd-text="printAnimal(animals[{{key}}], {{key}})"</code>
<ul>
  <li dd-foreach="animals --val,key" dd-text="printAnimal(animals[{{key}}], {{key}})"></li>
</ul>

<br><br>

<code>dd-foreach="animals --val,key" dd-text="printAnimal(animals.{{key}}, {{key}})"</code>
<ul>
  <li dd-foreach="animals --val,key" dd-text="printAnimal(animals.{{key}}, {{key}})"></li>
</ul>

<br><br>

<code>dd-foreach="animals --val,key" dd-text="printAnimal($$val, {{key}})"</code>
<ul>
  <li dd-foreach="animals --val,key" dd-text="printAnimal($$val, {{key}})"></li>
</ul>


<br><br>
<h3>dd-text within dd-foreach</h3>

<code>dd-foreach="animals --val,key"  > dd-text="printAnimal($$val, {{key}})"</code>
<ul>
  <li dd-foreach="animals --val,key">
    <i dd-text="printAnimal($$val, {{key}})"></i>
  </li>
</ul>



<br><br>
<h3>dd-foreach with template placeholders {{ ... }}</h3>
<code>&lt;p dd-foreach="animals --val,key"&gt;{{key}}. {{val}}&lt;/p&gt;</code>
<p dd-foreach="animals --val,key">{{key}}. {{val}}</p>