<h1>dd-text concat</h1>
Solve concat expression in dd-text. The concat expression must contain ' and +.
For example <code>dd-text="(first_name + ' ' + last_name`)"</code>.


<br><br>
<ol>
  <li dd-text="(pet + ' is my pet')"></li>
  <li dd-text="(n + ' is twenty two')"></li>
  <li dd-text="('Employer's name:: ' + $model.first_name )"></li>
  <li dd-text="('Product size:: ' + product.size )"></li>
  <li dd-text="($model.companies[0].name + ' &rarr; ' + $model.companies[0].size)"></li>
  <li dd-text="(badVar + ' is bad controller property')"></li>
</ol>