<h1>dd-visible</h1>
<b>dd-visible="ctrlProp | ctrlMeth()"</b> &rarr; Show/hide elements by setting up <b>visibility:visible|hidden</b> inline CSS style.


<br><br>
<h3>Controller property</h3>
<i>Example with pure controller property in the attribute value.</i>
<br>dd-visible="myBool" &rarr; <b dd-visible="myBool">OK</b>
<br>dd-visible="this.myBool" &rarr; <b dd-visible="this.myBool">OK</b>


<br><br>
<h3>Model</h3>
<i>Example with pure model in the attribute value.
  Initial model value is undefined so element is not displayed.
  The <b>this.</b> will not cause error.</i>
<br>dd-visible="$model.my.bool" <b dd-visible="$model.my.bool">OK</b>
<br>dd-visible="this.$model.my.bool" <b dd-visible="this.$model.my.bool">OK</b>
<br><button dd-click="show1()">change model value</button>


<br><br>
<h3>Controller method</h3>
dd-visible="isVisible()" <b dd-visible="isVisible()">OK</b>


<br><br>
<h3>Expression/condition</h3>
<button dd-click="changeNumber(3)">set $model.a=3</button> &nbsp; <button dd-click="changeNumber(30)">set $model.a=30</button>
<b dd-visible="($model.a <= 10)">$model.a &lt;= 10</b>
<b dd-visible="($model.a > 10)">$model.a > 10</b>


<br><br>
<h3>Toggle</h3>
<i>Toggle visibility with the button.</i>
<br>dd-visible="$model.visX"
<br><button dd-click="toggleVisible()">toggle Visible</button>
<br>PREFIX <span dd-visible="$model.visX" style="color:green">My Text</span> SUFIX