<h1>dd-each select option</h1>
Uses dd-each to generate OPTION elements inside a SELECT.
<br><b>Note:</b> The first option must be an empty placeholder: <i>&lt;option value=""&gt;&lt;/option&gt;</i>
<br><br>

<button type="button" dd-click="generateAutos()">generate Autos</button>
<br>
<br>autos:
<select name="autosN">
  <option value=""></option>
  <option dd-each="$model.autos --auto,key" value="{{auto.id}}">{{auto.name}} - price: ${{auto.price}}</option>
</select>


<br><br>
<br>autos: <select name="autosN" dd-selected="$model.selected_id">
  <option value=""></option>
  <option dd-each="$model.autos --auto,key" value="{{auto.id}}" dd-text="setOptionText_1({{key}})"></option>
</select>


<br><br>
<br>autos: <select name="autosN">
  <option value=""></option>
  <option dd-each="$model.autos --auto,key" value="{{auto.id}}" dd-text="$model.autos[{{key}}].name"></option>
</select>