<h1>dd-foreach-child ctrl prop</h1>
The dd-foreach-child is nested in dd-foreach with <b>dd-foreach-child</b>.
<br>Used: <b>${company[field.prop]}</b> where "company" and "field" are <u>array of objects</u> and controller properties.


<br><br><br>
<br><button dd-click="foreachNested()">change model value</button>
<table>
  <tr dd-foreach="$model.companies --company">
    <td dd-foreach-child="this.fields --field">${company[field.prop]}</td>
  </tr>
</table>



<style scoped>
  table {
    width: 340px;
    margin-top: 21px;
  }

  table td {
    border: 1px solid gray;
    padding: 5px 3px;
  }
</style>