<h1>dd-foreach &amp; dd-mustache</h1>
<br> RECOMMENDATION: Use string interpolator <code>${...}</code> instead of mustache <code>{{...}}</code> within the dd-foreach element.


<br><br>
<h3>A) dd-mustache as child of the dd-foreach element</h3>
<p dd-foreach="animals --val,key">
  <b dd-mustache>{{${key} + 1}}</b>. ${val.name}
</p>


<br><br>
<h3>B) dd-mustache and dd-foreach in the same element</h3>
<p dd-foreach="animals --val,key" dd-mustache>
  <b>{{${key} + 1}}</b>. ${val.name}
</p>


<br><br>
NOTICE: Both examples give same result.