<h1>dd-foreach-child</h1>
The dd-foreach-child element is nested within dd-foreach.
<br>Used: <b>${company[field]}</b> where "company" is array of objects and "field" is <u>array of strings</u>


<br><br>
<h4>Code</h4>
<pre><code>&lt;table&gt;
    &lt;tr&gt;
      &lt;th dd-foreach="fields --field"&gt;${field}&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr dd-foreach="$model.companies --company"&gt;
      &lt;td dd-foreach-child="this.fields --field"&gt;${company[field]}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
</code></pre>

NOTICE: Use <b>this.fields</b> instead of <b>fields</b> because it is controller property.
<br>In <b>dd-foreach</b> it s not required to use <i>this</i>, but in <b>dd-foreach-child</b> it must be used to distinguish controller property from the forEach() argument.


<br><br>
<h3>Example with $model</h3>
<button dd-click="foreachNested()">change model value</button>
<table>
  <tr>
    <th dd-foreach="fields --field">${field}</th>
  </tr>
  <tr dd-foreach="$model.companies --company">
    <td dd-foreach-child="this.fields --field">${company[field]}</td>
  </tr>
</table>


<style scoped>
  table {
    width: 340px;
    margin-top: 21px;
  }

  table td,
  th {
    border: 1px solid gray;
    padding: 5px 3px;
  }

  table td:nth-child(3) {
    text-align: center;
  }
</style>