<h1>dd-repeat</h1>
The dd-repeat will multiply element n (number) times.
The n can be inserted directly as attribute value or as result of controller property or expression.

<br><br><br>
<h3>Controller property</h3>
<br><button dd-click="changeModel1()">change from 2 to 4</button>
<br>dd-repeat="$model.myNumberA" &rarr; <b dd-repeat="$model.myNumberA">dog </b>

<br><br><br>
<h3>Controller method</h3>
<br><button dd-click="changeModel2()">change from 4+3 to 1+3</button>
<br>dd-repeat="setNumbers(3)" &rarr; <b dd-repeat="setNumbers(3)">cat </b>