<h1>dd-repeat</h1>
The dd-repeat will multiply element n (number) times.
The n can be inserted directly as attribute value or as result of controller property or expression.

<br>
<h3>Number in expression</h3>
<br>dd-repeat="(3)" &rarr; <b dd-repeat="(3)">pet </b>

<br><br><br>
<h3>Controller property</h3>
<br><button dd-click="changeModel1()">change to 4</button>
<br>dd-repeat="$model.myNumberA" &rarr; <b dd-repeat="$model.myNumberA">dog </b>

<br><br><br>
<h3>Expression</h3>
<br><button dd-click="changeModel2()">change to 3 + 2</button>
<br>dd-repeat="(this.$model.myNumberB + 2)" &rarr; <b dd-repeat="(this.$model.myNumberB + 2)">cat </b>
