<h1>dd-click</h1>
Click event listener.



<br><br>
<h4>DD-CLICK (execute controller method)</h4>
<button dd-click="runCLICK(5, 'str', 8, 9, $element)">Fetch Data</button> <i>Click the button to fetch JSON from the server.</i>
<br><small dd-text="$model.answer.res.content --append">DATA:</small>
<br>
<br><button dd-click="print.inConsole.makeRed($element)">CLICK</button> - run function defined in the controller property, for example <i>print.inConsole.makeRed($element)</i>
<br>
<br><button dd-click="runCLICK2(this.products)">CLICK 2</button> - test function argument as controller property, for example <i>dd-click="runCLICK2(this.products)"</i>
<br><button dd-click="runCLICK2(this.products[1].name)">CLICK 2</button> - test function argument as controller property, for example <i>dd-click="runCLICK2(this.products[1].name)"</i>
<br>
<br><button dd-click="runCLICK3('some text', 333, false, /as$/)">CLICK 3</button> - test different function argument types: string, number, boolean, regexp</i>
<br>
<br><input value="Perica" dd-click="runCLICK4($value)"> - click on the input field
<br>
<br><button dd-click="runCLICK5a('My friend');runCLICK5b(88)">CLICK 5</button> - run two controller methods


<br><br>
<h4>DD-CLICK (execute JS expression)</h4>
The examples show how to assign values to $model directly in the HTML without use of functions i.e. controller methods. <b>dd-click="$model.ass_4 = products.1.name"</b>
<p><button dd-click="(this.$model.ass_1 = 8888)">CLICK assignment 1</button> --- $model.ass_1 = <b dd-text="$model.ass_1"></b></p>
<p><button dd-click="(this.$model.ass_2 = 'single quote')">CLICK assignment 2</button> --- <b dd-mustache>$model.ass_2 = {{this.$model.ass_2}}</b></p>
<p><button dd-click='(this.$model.ass_2b = "double quote")'>CLICK assignment 2b</button> --- $model.ass_2b = <b dd-text="$model.ass_2b"></b></p>
<p><button dd-click="(this.$model.ass_3 = this.$model.cats[1])">CLICK assignment 3</button> --- $model.ass_3 = <b dd-text="$model.ass_3"></b></p>
<p><button dd-click="(this.$model.ass_3b = this.$model.cats[1])">CLICK assignment 3b</button> --- $model.ass_3b = <b dd-text="$model.ass_3b"></b></p>
<p><button dd-click="(this.$model.ass_4 = this.products[1].name)">CLICK assignment 4</button> --- $model.ass_4 = <b dd-text="$model.ass_4"></b></p>
<p><button dd-click="(this.$model.ass_5 = this.products[0])">CLICK assignment 5</button> --- $model.ass_5 = <b dd-mustache>{{this.$model.ass_5.name}} - {{this.$model.ass_5.price}}</b></p>

<br>
<br><button dd-click="(alert('some alert'))">ALERT</button> -- dd-click="(alert('some alert'))"


<style scoped>
  small {
    font: 15px veradana;
    padding: 5px;
    border: 1px solid silver;
  }
</style>
