<h1>dd-evt</h1>
Chain multiple event listeners.


<br><br>
<h4>Example 1</h4>
Chained multiple commands.

<br><br>
dd-evt="
runEVT($element, $event, 'red') --mouseenter &&
runEVT($element, $event, 'green') --mouseleave &&
runEVT($element, $event, 'blue') --click
"
&rarr;
<br><span style="font-weight:bold" dd-evt="
    runEVT($element, $event, 'red') --mouseenter &&
    runEVT($element, $event, 'green') --mouseleave &&
    runEVT($element, $event, 'blue') --click
  ">mouseenter, mouseleave and click this text</span>

<br><br>
<h4>Example 2</h4>
This example shows when text in U tag is clicked the $model is assigned with the controller value
<i>dd-evt="onKlik(1) --click"</i>
<br><u type="text" dd-evt="onKlik(1) --click">CLICK ME</u> &rarr; <b dd-text="$model.changed_text2"></b>
<br><u type="text" dd-evt="onKlik(2) --click">CLICK ME</u> &rarr; <b dd-text="$model.changed_text3"></b>
<br><u type="text" dd-evt="onKlik(3) --click">CLICK ME</u> &rarr; <b dd-text="$model.changed_text4"></b>



<style scoped>
  u {
    cursor: pointer;
  }
</style>