<h1>dd-set</h1>
Sets a controller property from an INPUT, TEXTAREA, or SELECT element.

<br><br>
<h3>INPUT TEXT</h3>
<input type="text" value="Saša" dd-set="$model.mySet9"> &nbsp;&nbsp; <b dd-text="$model.mySet9"></b>


<br><br>
<h3>INPUT NUMBER</h3>
<input type="number" value="88.21" dd-set="$model.mySet5"> &nbsp;&nbsp; <b dd-text="$model.mySet5"></b>


<br><br>
<h3>INPUT TEXT (--convertType)</h3>
Type a number, JSON object, or boolean value. Open the browser console to inspect the results.
<br> The <i>--convertType</i> option corrects the data type, e.g. converts "5" to 5.
<br>
<input type="text" dd-set="$model.mySet_orig">
<input type="text" dd-set="$model.mySet_converted --convertType" placeholder="--convertType">
<button dd-click="setSeeConsole()">See in console</button>


<br><br>
<h3>INPUT RADIO</h3>
<input type="radio" name="my_set4" dd-set="$model.mySet4" value="YES"> YES &nbsp;&nbsp;
<input type="radio" name="my_set4" dd-set="$model.mySet4" value="NO" checked> NO
&nbsp;&nbsp; <b dd-text="$model.mySet4"></b>


<br><br>
<h3>INPUT CHECKBOX</h3>
Sets the controller value on the input DOM event — i.e., on every change.
<br>
<input type="checkbox" name="my_set1" dd-set="$model.mySet1" value="125"> 125 &nbsp;&nbsp;
<input type="checkbox" name="my_set1" dd-set="$model.mySet1" value="sasa" checked> sasa &nbsp;&nbsp;
<input type="checkbox" name="my_set1" dd-set="$model.mySet1" value="true"> true
&nbsp;&nbsp; <b dd-text="$model.mySet1"></b>
<br>
<br>
<br>Same as above but without the <b>$model.</b> prefix. Open the browser console to observe the results.
<br>Note:
<br> - render() is not triggered, so the view will not refresh.
<br> - dd-click will not work here because dd-click is executed before dd-set — use dd-evt instead: <i>dd-set="mySet1" <b>dd-evt="printInConsole() --input"</b></i>
<br>
<input type="checkbox" name="my_set2" value="125" dd-set="mySet1" dd-evt="printInConsole() --input"> 125 &nbsp;&nbsp;
<input type="checkbox" name="my_set2" value="sasa" dd-set="mySet1" dd-evt="printInConsole() --input" checked> sasa &nbsp;&nbsp;
<input type="checkbox" name="my_set2" value="true" dd-set="mySet1" dd-evt="printInConsole() --input"> true
&nbsp;&nbsp; <b dd-text="mySet1"></b>


<br><br>
<h3>SELECT</h3>
<select dd-set="$model.mySet2" size="5" multiple>
  <option value="225" selected>225</option>
  <option value="18.923">18.923</option>
  <option value="false" selected>false</option>
  <option value='{"x": 22, "y":"something", "z": true}'>{"x": 22, "y":"something", "z": true}</option>
  <option value="Tom">Tom</option>
</select>
&nbsp;&nbsp; <b dd-text="$model.mySet2"></b>


<br><br>
<h3>SELECT with dd-setinitial</h3>
<i>Note: "Dara" is the default value because of dd-setinitial.</i>
<br><select dd-set="$model.mySet3" dd-setinitial="$model.mySet3">
  <option value="Lara">Lara</option>
  <option value="Dara" selected>Dara</option>
  <option value="Mara">Mara</option>
</select>
&nbsp;&nbsp; <b dd-text="$model.mySet3"></b>



<style scoped>
  select {
    width: 210px;
  }

  select[multiple] {
    height: 200px;
    font-size: 17px;
  }
</style>
